<header class="">
  <div class="__container">
    <div class="__flex bottom__links __bottom_line">
      <nav class="__flex">
        <ul>
          <li>
            <a
              href="/users/user/dashboard"
              class="nav__links active"
            >Dashboard</a>
          </li>
          <li>
            <a href="/users/user/create" class="nav__links">Create Post</a>
          </li>
        </ul>
      </nav>
      <div class="menu__btn">
        <div class="__closed closed__btn" id="closed">
          <img src="/images/closed.svg" alt="" />
        </div>
        <div class="__open open__btn" id="open">
          <img src="/images/open.svg" alt="" />
        </div>
      </div>
      <div class="mobile__nav _closed" id="mobile-nav">
        <ul>
          <li>
            <a href="/users/user" class="nav__links active">Dashboard</a>
          </li>
          <li><a href="/users/user/create" class="nav__links">Create Post</a></li>
        </ul>
      </div>
      <div class="user__actions">
        <div class="__flex">
          <ul>
            <li><a href="/users/user/setting" class="nav__links active">User</a></li>
            <li><a href="/users/logout" class="nav__links">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

{{> _toast-header}}

<div class="__greeting">
  <div class="__container">
    <h2>Hello, Welcome to CodeBlog, Happy writing</h2>
  </div>
</div>

<div class="__writers">
  <div class="__container">
    <div class="__users">
      <h2>Articles</h2>
      <table>
        <tr>
          <th>Article Link</th>
          <th>Title</th>
          <th>Action</th>
          <th>Action</th>
        </tr>
        {{#if userPost}}
          {{#each userPost}}
              <tr>
                <td><a href="/posts/{{this.username}}/{{this.link}}" class="action visit">Click to view</a></td>
                <td>{{this.title}}</td>
                <td>
                  <a
                    href="/users/user/edit/{{this._id}}"
                    class="action edit"
                  >Edit</a>
                </td>
                <td>
                  <form action="/users/delete-post" class="remove" method="POST">
                    <input
                      type="text"
                      value="{{this._id}}"
                      name="id"
                      style="display: none;"
                    />
                    <a href="javascript:null" class="action delete">Delete</a>
                  </form>
                </td>
              </tr>
          {{/each}}
        {{else}}
          <tr>
            <td>No data</td>
            <td>No data</td>
            <td><a href="javascript:null" class="action edit">No data</a></td>
            <td><a href="javascript:null" class="action delete">No data</a></td>
          </tr>
        {{/if}}
      </table>
    </div>
  </div>
</div>

{{> _footer}}
{{> _toast-footer}}

<script>
  document.title = 'CodeBlog | Dashboard';
</script>
<script src="/js/dashboard.js"></script>