<header class="">
  <div class="__container">
    <div class="__flex bottom__links __bottom_line">
      <nav class="__flex">
        <ul>
          <li>
            <a
              href="/users/admin/dashboard"
              class="nav__links active"
            >Dashboard</a>
          </li>
          <li>
            <a href="/users/admin/register-user" class="nav__links">Register
              User</a>
          </li>
          <li>
            <a href="/users/admin/create" class="nav__links">Create Post</a>
          </li>
        </ul>
      </nav>
      <div class="menu__btn">
        <div class="__closed closed__btn" id="closed">
          <img src="/images/closed.svg" alt="" />
        </div>
        <div class="__open open__btn" id="open">
          <img src="/images/open.svg" alt="" />
        </div>
      </div>
      <div class="mobile__nav _closed" id="mobile-nav">
        <ul>
          <li><a
              href="/users/admin/dashboard"
              class="nav__links active"
            >Dashboard</a></li>
          <li><a href="/users/admin/register-user" class="nav__links">Register
              User</a></li>
          <li><a href="/users/admin/create" class="nav__links">Create Post</a></li>
        </ul>
      </div>
      <div class="user__actions">
        <div class="__flex">
          <ul>
            <li><a
                href="/users/admin/setting"
                class="nav__links active"
              >Admin</a></li>
            <li><a href="/users/logout" class="nav__links">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="__greeting">
  <div class="__container">
    <h2>Hello Admin, Welcome to CodeBlog, Happy writing</h2>
  </div>
</div>

<div class="__writers">
  <div class="__container">
    <div class="__users">
      <h2>Writers</h2>
      <table>
        <tr>
          <th>Username</th>
          <th>No of Posts</th>
          <th>Action</th>
          <th>Action</th>
        </tr>
        {{#if users}}
          {{#each users}}
            <form action="">
              <input
                type="text"
                value="{{this._id}}"
                name="id"
                style="display: none;"
              />
              <tr>
                <td>{{this.username}}</td>
                <td>{{this.numberOfPosts}}</td>
                <td>
                  <a
                    href="/users/admin/edit/{{this._id}}"
                    class="action edit"
                  >Edit</a>
                </td>
                <td><a href="#" class="action delete">Delete</a></td>
              </tr>
            </form>
          {{/each}}
        {{else}}
          <tr>
            <td>No data</td>
            <td>No data</td>
            <td><a href="#" class="action edit">No data</a></td>
            <td><a href="#" class="action delete">No data</a></td>
          </tr>
        {{/if}}
      </table>
    </div>
    <div class="__users">
      <h2>Articles</h2>
      <table>
        <tr>
          <th>Article Link</th>
          <th>Creator</th>
          <th>Title</th>
          <th>Action</th>
          <th>Action</th>
        </tr>
        {{#if posts}}
          {{#each posts}}
            <form action="" class="form">
              <tr>
              <input
                type="text"
                value="{{this._id}}"
                name="id"
                style="display: none;"
              />
                <td><a href="/posts/{{this.author}}/{{this.link}}" class="action visit">Click to view</a></td>
                <td><a href="#" class="action visit">{{this.author}}</a></td>
                <td>{{this.title}}</td>
                {{!-- <td><img src="{{imageSrc this.image.contentType this.image.data}}" alt=""></td> --}}
                <td>
                  <a
                    href="/users/admin/edit/{{this._id}}"
                    class="action edit"
                  >Edit</a>
                </td>
                <td><a href="#" class="action delete">Delete</a></td>
              </tr>
            </form>
          {{/each}}
        {{else}}
          <tr>
            <td>No data</td>
            <td>No data</td>
            <td>No data</td>
            <td><a href="#" class="action edit">No data</a></td>
            <td><a href="#" class="action delete">No data</a></td>
          </tr>
        {{/if}}
      </table>
    </div>
  </div>
</div>

<footer>
  <div class="__container __flex">
    <div class="footer__logo">
      <div>
        <a href="index.html" aria-current="page" class="logo">
          <img
            src="/images/code_logo.png"
            loading="lazy"
            width="130"
            sizes="(max-width: 479px) 31vw, (max-width: 767px) 17vw, (max-width: 991px) 15vw, 130px"
            alt="code"
          />
        </a>
      </div>
    </div>
    <div class="footer__categories">
      <div class="footer__head">
        <h4>Categories</h4>
      </div>
      <div class="footer__nav">
        <nav class="__flex">
          <ul>
            <li><a href="/world" class="nav__links">World</a></li>
            <li><a href="/business" class="nav__links">Business</a></li>
            <li><a href="/health" class="nav__links">Health</a></li>
            <li><a href="/science" class="nav__links">Science</a></li>
            <li><a href="/food" class="nav__links">Food</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="footer__links">
      <div class="footer__head">
        <h4>Useful Links</h4>
      </div>
      <div class="footer__nav">
        <nav class="__flex">
          <ul>
            <li><a href="/" class="nav__links">Home</a></li>
            <li><a href="/about" class="nav__links">About</a></li>
            <li><a href="/contact" class="nav__links">Contact</a></li>
            <li><a href="/users/login" class="nav__links">Login</a></li>
            <li>
              <a href="/terms-and-conditions" class="nav__links">Terms</a>
            </li>
            <li><a href="/privacy" class="nav__links">Privacy Policy</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="footer__form">
      <div class="footer__head">
        <h4>Subscribe</h4>
      </div>
      <form action="">
        <div class="input__button">
          <input type="email" name="email" placeholder="Enter Email" />
          <button>Subscribe</button>
        </div>
      </form>
    </div>
  </div>
</footer>

<script>
  document.title = 'CodeBlog | Admin';
  console.log(document.getElementsByClassName('form'))
</script>