<header class="">
  <div class="__container">
    {{>_top-links}}
    <div class="__flex bottom__links __bottom_line">
      <nav class="__flex">
        <ul>
          <li><a href="/" class="nav__links">Home</a></li>
          <li><a href="/about" class="nav__links">About</a></li>
          <li><a
              href="/posts/category?category=tech"
              class="nav__links"
            >Tech</a></li>
          <li><a
              href="/posts/category?category=business"
              class="nav__links"
            >Business</a></li>
          <li><a
              href="/posts/category?category=health"
              class="nav__links"
            >Health</a></li>
        </ul>
      </nav>
      <div class="menu__btn">
        <div class="__closed closed__btn" id="closed">
          <img src="/images/closed.svg" alt="" />
        </div>
        <div class="__open open__btn" id="open">
          <img src="/images/open.svg" alt="" />
        </div>
      </div>
      <div class="mobile__nav _closed" id="mobile-nav">
        <ul>
          <li><a href="/" class="nav__links active">Home</a></li>
          <li><a href="/about" class="nav__links">About</a></li>
          <li><a
              href="/posts/category?category=tech"
              class="nav__links"
            >Tech</a></li>
          <li><a
              href="/posts/category?category=business"
              class="nav__links"
            >Business</a></li>
          <li><a
              href="/posts/category?category=health"
              class="nav__links"
            >Health</a></li>
        </ul>
      </div>
      <form action="" class="nav__search">
        <input type="text" placeholder="Search..." />
        <button>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <!-- Font Awesome Free 5.15.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) -->
            <path
              fill="currentColor"
              d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"
            ></path>
          </svg>
        </button>
      </form>
    </div>
  </div>
</header>

<main>
  <div class="__container __bottom_line">
    {{#if fetchedPosts}}
    {{#each fetchedPosts}}
    <article class="medium__post __flex">
      <div class="medium__image__container">
        <a href="/posts/{{this.username}}/{{this.link}}" class="image__link">
          <figure class="medium__image">
            <img
              src="https://assets.website-files.com/61c062a37877bc53f423dcb2/61c1d7e66b25f154d0e3070b_blog-17.jpg"
              alt=""
            />
          </figure>
        </a>
      </div>
      <div class="medium__text__container">
        <div class="category__date">
          <data role="category" class="category">
            <a
              href="/posts/category?category={{this.category}}"
            >{{this.category}}</a>
          </data>
          <data role="date" class="date">{{formatDate this.createdAt}}</data>
        </div>
        <div class="article__title">
          <h2>
            <a href="/posts/{{this.username}}/{{this.link}}">{{this.title}}</a>
          </h2>
          <div class="__short_words">
            {{{truncate this.post 200}}}
          </div>
          <div class="__user">
            <a href="href=/posts/{{this.username}}">
              <img src="/images/user.svg" alt="{{this.title}}" />
              <span>{{this.author}}</span>
            </a>
          </div>
        </div>
      </div>
    </article>
    {{/each}}
    {{/if}}
  </div>
  <div class="__container __bottom_line">
    <div class="pagination">
      {{#paginate pagination type="previous"}}
        <a {{#if disabled}}class="disabled"{{/if}} href="?p={{n}}">&laquo;</a>
      {{/paginate}}
      {{#paginate pagination type="middle" limit="5"}}
        <a {{#if active}}class="active disabled"{{/if}} href="?p={{n}}">{{n}}</a>
      {{/paginate}}
      {{#paginate pagination type="next"}}
        <a {{#if disabled}}class="disabled"{{/if}} href="?p={{n}}">&raquo;</a>
      {{/paginate}}
    </div>
  </div>
</main>

{{>_footer}}

<script>
  document.title = `CodeBlog | Posts`;
</script>